<div>
    <h1>Marca</h1>
    @if (cubos) {
        <table class="table">
            <thead>
                <th>ID Cubo</th>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Valoracion</th>
            </thead>
            <tbody>
                @for (cubo of cubos; track cubo) {
                    <tr>
                        <td>{{cubo.idCubo}}</td>
                        <td>{{cubo.nombre}}</td>
                        <td>{{cubo.modelo}}</td>
                        <td>{{cubo.marca}}</td>
                        <td>{{cubo.color}}</td>
                        <td><img src={{cubo.imagen}} alt="foto" style="height: 80px;width: 80px;"></td>
                        <td>{{cubo.precio}}</td>
                        <td>{{cubo.valoracion}}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>